{$CADDY_DOMAIN} {
    encode gzip

    handle /api/* {
        reverse_proxy notecast-bridge:8080
    }
    handle /auth/* {
        reverse_proxy notecast-bridge:8080
    }
    handle /health {
        reverse_proxy notecast-bridge:8080
    }

    handle {
        root * /srv
        file_server
    }
}

http://localhost {
    encode gzip

    handle /api/* {
        reverse_proxy notecast-bridge:8080
    }
    handle /auth/* {
        reverse_proxy notecast-bridge:8080
    }
    handle /health {
        reverse_proxy notecast-bridge:8080
    }

    handle {
        root * /srv
        file_server
    }
}
